.newsletter-container {
  display: block;
  position: fixed;
  max-width: 600px;
  width: 100%;
  height: auto;
  min-height: 10px;
  padding: 1rem 2rem;
  background-color: rgba(0, 123, 193, .93);
  color: white;
  transition: all 400ms ease-out;
}

.close-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  margin: 6px;
  cursor: pointer;
}

.newsletter-container  {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.newsletter-container > .close-panel {
  margin-left: auto;
}

.newsletter-body-content .newsletter-body-content-text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group.inline-input {
  flex-direction: row;
  align-items: center;
}

.input-group.inline-input .input-wrapper,
.input-group.inline-input .input-wrapper .input {
  border-radius: 2px;
}

.input-group.inline-input .input-wrapper {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 1rem;
  background-color: red;
}

.input-group.inline-input .input-wrapper .input {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, .75);
}

.input-group.inline-input .input-wrapper .input {
  padding: 10px .5rem;
  font-size: 1rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .mobile {
    width: 100%;
  }
  .btn-block {
    display: block !important;
    width: 100%;
  }
}
