@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  --blue: #007bc1;
  --dark-blue: #004a75;
  --orange: #ff8000;
  --dark-orange: #cc6600;
  --smoke-grey: #e5e5e5;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  display: block;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.bg-blue {
  background-color: var(--blue);
  color: white;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
  color: white;
}

.bg-orange {
  background-color: var(--orange);
  color: white;
}

.bg-dark-orange {
  background-color: var(--dark-orange);
  color: white;
}

.wrapper {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

.btn.btn-primary {
  background-color: var(--blue);
  color: white;
}

.btn.btn-border {
  border: 1px solid var(--smoke-grey);
  border-radius: 3px;
}

.btn.btn-inline {
  display: inline-block;
}

.btn.btn-hover {
  transition: all 150ms ease-in-out;
}

.btn.btn-hover:hover {
  color: var(--dark-blue);
  background-color: var(--smoke-grey);
}

.row {
  height: 100%;
  width: 100%;
  padding: .5rem 1rem;
  margin: 2rem auto 0 auto;
}

.row .column {
  box-sizing: border-box;
  flex-basis: 100%;
  margin-bottom: 1rem;
  display: flex;
}

@media screen and (min-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row .column {
    flex-basis: calc(100% / 2 - .5rem);
  }
}

@media (min-width: 960px){
  .row .column {
    flex-basis: calc(100% / 3 - .5rem);
  }
}
