.card-component {
  background-color: transparent;
}

.card-component.default {
  border: 1px solid #cbcbcb;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255,255,255,1);
  -moz-box-shadow: inset 0 0 20px 0 rgba(255,255,255,1);
  box-shadow: inset 0 0 20px 0 rgba(255,255,255,1);
  padding: 12px 15px;
  overflow: hidden;
}

.title {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.2rem;
}

.withIcon {
  display: flex;
  align-items: center;
}

.text-body {
  text-align: left;
}
