
.highlight-container {
  background-color: var(--smoke-grey);
  padding: 3rem 0;
}

.highlight-content {
  padding: 0 30%;
  margin-bottom: 4rem;
}

.highlight-header-content {
  margin-bottom: 1rem;
  text-align: center;
}

.highlight-content-dsc > p {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .highlight-content {
    padding: 0 1rem;
  }
}
