
.notification-container {
  position: sticky;
  top: 0;
  overflow-y: hidden;
  max-height: 500px;
  display: block;
  width: 100%;
  background-color: var(--smoke-grey);
  z-index: 1000;
  transition: all 400ms ease-out;
}

.notification-content {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px 1rem;
}

.notification-content .notification-content-link {
  flex-grow: 1;
  padding-right: 20px;
}

.notification-content .notification-content-link {
  width: 100%;
}

.notification-content .notification-content-button {
  display: inline-block;
  margin-top: .5rem;
}

@media only screen and (min-width: 768px) {
  .notification-content {
    display: flex;
    align-items: center;
    max-width: 720px;
    width: 720px;
    height: 75px;
    margin: auto;
  }

  .notification-content .notification-content-link {
    width: 200px;
  }

  .notification-content .notification-content-button {
    margin-top: 0;
    display: block;
  }
}
