.heroshot-container {
  display: block;
  position: relative;
  background-color: var(--blue);
  transition: all 300ms ease-out;
}


.heroshot-bg {
  position: relative;
  background-image: linear-gradient(#004a75,#004a75), url("../../asset/img/bg.jpg");
  background-blend-mode: hard-light;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.heroshot-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--smoke-grey);
  text-align: center;
}

.__c-1t {
  font-size: 2rem;
}

.header-content {
  font-size: 1.5rem;
}

.desc-content,
.footer-content {
  margin: 10px 0;
}

.desc-text {
  margin: 2px 0;
  color: rgba(255, 255, 255, .65);
}

.logo-wrapper {
  position: absolute;
  top: 2rem;
  display: flex;
  height: auto;
  width: 45px;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.logo-wrapper .logo {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.logo-wrapper .logo .image-logo {
  object-position: center;
  object-fit: cover;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .__bx-wr1 {
    width: 100%;
    padding: 0 1rem;
  }
}
